# Data & Module import

In [ ]:
import pandas as pd
import sklearn
import os

In [ ]:
# 자기 파일 경로로 바꿔서 쓸 것
os.chdir("/content/drive/MyDrive/암빅데이터경진대회")

In [ ]:
train = pd.read_csv("./Train/train.csv")

In [ ]:
valid = pd.read_csv("./Validation/valid.csv")

In [ ]:
train

      AGE  inductal carcinoma  infiltrating duct carcinoma  ...  병기(t)  병기(n)  병기(m)
0      71                   0                            1  ...     11      8      0
1      65                   0                            1  ...      7     12      2
2      60                   0                            1  ...     10      2      1
3      75                   0                            0  ...      9     10      2
4      80                   0                            0  ...      9      9      1
...   ...                 ...                          ...  ...    ...    ...    ...
3341   54                   1                            1  ...     10      8      2
3342   50                   1                            1  ...      9      9      2
3343   52                   1                            1  ...      9     10      2
3344   87                   0                            0  ...     10     12      1
3345   65                   0                            0  ...     11      4      2

[3346 rows x 33 columns]

In [ ]:
len(train)

3346

## 조기폐경 label 추가 (SVC)
regression의 경우에는 밑의 과정 필요 x

In [ ]:
train["Early Menopause"] = 0

In [ ]:
# 40세 미만 폐경 -> label 1로

for i in range(len(train)):
  if (train.iloc[i,9]<40):
    train.iloc[i,33] = 1

In [ ]:
# 원래 폐경 열은 drop

train = train.drop("Age of Menopause",axis=1)
train

In [ ]:
# validation data

valid["Early Menopause"] = 0

for i in range(len(valid)):
  if (valid.iloc[i,9]<40):
    valid.iloc[i,33] = 1

valid = valid.drop("Age of Menopause",axis=1)
valid

# X,Y 분리

## Classification

In [ ]:
x_train = train.drop("Early Menopause",axis=1)
y_train = train.iloc[:,32:33]

In [ ]:
x_valid = valid.drop("Early Menopause",axis=1)
y_valid = valid.iloc[:,32:33]

In [ ]:
y_valid

## Regression

In [ ]:
x_train = train.drop("Age of Menopause",axis=1)
y_train = train.iloc[:,9:10]

In [ ]:
x_valid = valid.drop("Age of Menopause",axis=1)
y_valid = valid.iloc[:,9:10]

In [ ]:
y_valid

## 4 Groups

In [ ]:
x_병리 = x_train[['AGE','inductal carcinoma','infiltrating duct carcinoma','adenocarcinoma','lobular carcinoma','Metaplastic carcinoma','병기(t)','병기(n)','병기(m)','Height','Weight','BRCA1 PVs','BRCA1 VUS','BRCA2 PVs','BRCA2 VUS','ER','PR','AR']]

In [ ]:
x_생활 = x_train[['Type of Drink','Smoke','COCP','HRT']]

In [ ]:
x_사회 = x_train[['Marriage','Age at first birth','Number of births']]

In [ ]:
x_치료 = x_train[['BCS','Mestectomy','pan hysterosalpingo oophorectomy','Hormone therapy','Radiation Therapy']]

In [ ]:
# to csv
x_병리.to_csv("/content/drive/MyDrive/암빅데이터경진대회/Train/x_병리.csv",index=None)
x_생활.to_csv("/content/drive/MyDrive/암빅데이터경진대회/Train/x_병리.csv",index=None)
x_사회.to_csv("/content/drive/MyDrive/암빅데이터경진대회/Train/x_병리.csv",index=None)
x_치료.to_csv("/content/drive/MyDrive/암빅데이터경진대회/Train/x_병리.csv",index=None)

In [ ]:
x_병리_val = x_valid[['AGE','inductal carcinoma','infiltrating duct carcinoma','adenocarcinoma','lobular carcinoma','Metaplastic carcinoma','병기(t)','병기(n)','병기(m)','Height','Weight','BRCA1 PVs','BRCA1 VUS','BRCA2 PVs','BRCA2 VUS','ER','PR','AR']]
x_생활_val = x_valid[['Type of Drink','Smoke','COCP','HRT']]
x_사회_val = x_valid[['Marriage','Age at first birth','Number of births']]
x_치료_val = x_valid[['BCS','Mestectomy','pan hysterosalpingo oophorectomy','Hormone therapy','Radiation Therapy']]

# SVM model

## SVC

In [ ]:
from sklearn.model_selection import GridSearchCV, cross_validate
from sklearn.svm import SVC

In [ ]:
svc = SVC(verbose=True, random_state = 77)

In [ ]:
svc

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=77, shrinking=True, tol=0.001,
    verbose=True)

## SVR

In [ ]:
from sklearn.svm import SVR

In [ ]:
svr = SVR(verbose=True)

In [ ]:
svr

SVR(C=1.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma='scale',
    kernel='rbf', max_iter=-1, shrinking=True, tol=0.001, verbose=True)

## GridSearchCV
가장 적절한 parameter 값 찾기

In [ ]:
import warnings
warnings.filterwarnings(action='ignore')

In [ ]:
MAE = 'neg_mean_absolute_error'

In [ ]:
params = {'kernel':["linear", "poly", "rbf", "sigmoid"]}

params = {'C':[1.0,2.0,3.0]}

grid_search = GridSearchCV(svc, params, scoring=MAE, cv=5, verbose=3, return_train_score=True)

In [ ]:
grid_search.fit(x_train,y_train)

In [ ]:
print("최적 파라미터: ",grid_search.best_params_)
print("best score : ",-1*(grid_search.best_score_))

# Train & Predict

## SVC

In [ ]:
svc.fit(x_병리,y_train)

[LibSVM]

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=77, shrinking=True, tol=0.001,
    verbose=True)

In [ ]:
pred = svc.predict(x_병리_val)

In [ ]:
pred

array([0, 0, 0, ..., 0, 0, 0])

## SVR

In [ ]:
svr.fit(x_train, y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

[LibSVM]

SVR(C=1.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma='scale',
    kernel='rbf', max_iter=-1, shrinking=True, tol=0.001, verbose=True)

In [ ]:
pred = svr.predict(x_valid)

In [ ]:
pred

array([42.54404086, 43.2216186 , 40.81081093, ..., 44.21070843,
       42.07972249, 42.23371892])

In [ ]:
# 평균에러

pred_df = pd.DataFrame(pred)
pred_df.columns=["Age of Menopause"]

error = pd.DataFrame(pred_df - y_valid)

error_avg = error["Age of Menopause"].mean()
print("Average error: ", error_avg)

Average error:  -0.6447633596222233

# KFold
10-fold Cross Validation

In [ ]:
from sklearn.model_selection import KFold
kfold = KFold(n_splits=10,shuffle=False)

mean_error_df = pd.DataFrame(columns=["pred","error"])

for train_index, validate_index in kfold.split(x_train):
    x_tr, x_val = x_train.iloc[train_index,:], x_train.iloc[validate_index,:]
    y_tr, y_val = y_train.iloc[train_index], y_train.iloc[validate_index]

    svc.fit(x_tr,y_tr)
    y_pred = svc.predict(x_val)
    mean_error = pd.DataFrame(y_pred-y_val)
    
    mean_error.columns=["error"]
    
    df_concat = pd.concat([y_val,mean_error],axis=1)
    
    mean_error_df = mean_error_df.append(df_concat)

[LibSVM]

ValueError: ignored